<h1>User Registeration</h1>

<p>Please create a profile.</p>

<form action="/users/register" method="post">
  <fieldset>
    <div>
      <label for="username">User name: </label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" id="password" name="password" required>
    </div>
    <button>Register</button>
  </fieldset>
</form>

<p>Already have an account? <a href="/users/sign_in">Sign in.</a></p>